# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env
.env.*
!.env.example

# Python / Venv
.venv/
venv/
env/
__pycache__/
*.pyc

# Node / JS
node_modules/
npm-debug.log*
graphify-out/
graphify-out
docs/